$color-main: #343030;
$white: #ffffff;
$color-footer: #555555;
$color-search: #403432;
$color-hov: #776763;
$color-border: #E1E1E1;
$color-buy: #382E2B;
$color-discount: #A0A0A0;
$color-checking: #934e39;
$color-purchased: #5B3A32;